var scheme   = "<%= @scheme %>";
var uri      = scheme + window.document.location.host + "/";
var ws       = new WebSocket(uri);
ws.onmessage = function(message) {
  var data = JSON.parse(message.data);
  $("#chat-text").append("<div class='panel panel-default'>" +
                            "<div class='panel-heading'>" +
                                "<img class='avatar-img' src='/assets/images/" + data.avatar + ".png' />" +
                                data.handle +
                            "</div>" +
                            "<div class='panel-body'>" + data.text + "</div></div>");
  $("#chat-text").stop().animate({
    scrollTop: $('#chat-text')[0].scrollHeight
  }, 800);
};

$("#input-form").on("submit", function(event) {
  event.preventDefault();
  var handle = $("#input-handle")[0].value;
  var text   = $("#input-text")[0].value;
  var avatar = $(".input-avatar:checked").val();
  ws.send(JSON.stringify({ handle: handle, text: text, avatar: avatar }));
  $("#input-text")[0].value = "";
});


$('.input-avatar').on("submit", function(event) {
  event.preventDefault();

  var name = $("#input-handle")[0].value;

  //Hide avatars
  $('#avatars').fadeOut();
  //Show chatroom
  $("#chatroom").fadeIn();
});