var scheme   = "<%= @scheme %>";
var uri      = scheme + window.document.location.host + "/";
var ws       = new WebSocket(uri);
var prompts = ["The fight has been raging for three days. The teachers on their end, toting rulers, eraser canons and textbook grenades, and the students on the other, with only school-approved items found in their bookbags. Both sides have suffered casualties and people are wondering, what happened three days ago at Winston Waters High that started...", 
        "You take a sip from your drink and feel different. That may be because your torso has an extra arm protruding from it. Another sip, another arm. Then a wing. What happens if you finish the drink?",
        "During your trip to Turkey, you check into an old hotel. After settling yourself you notice a weathered chest in the corner. Upon opening it, war relics from the First World War and the Ottoman Empire lay before you. What stories do you find?",
        "Being a famous rock star is hard. Especially when an alien invasion hits mid-concert. As lasers and abductions abound, do you think your sick beats can stop this catastrophe? Write about how you attempted to fight off the aliens and whether or not you succeeded.",
        "Your family isn't cooperating with your writing career, so you've decided to go on strike. Write a list of demands that must be met in order for you to return to your chores and household responsibilities. (Don't forget to make a concession or two to speed up the negotiation process.)"];
ws.onmessage = function(message) {
  var data = JSON.parse(message.data);
  $("#chat-text").append("<div class='" + (data.handle === localStorage.getItem("username") ? 'msg-mine' : 'msg-yours') + "'>" +
                              "<div class='msg-header'>" +
                              "<img class='avatar-img' src='/assets/images/" + data.avatar + ".png' />" +
                              data.handle + "</div>" +
                          "<div class='msg-content'>" + data.text + "</div>" +
                          "</div>");
  $("#chat-text").stop().animate({
    scrollTop: $('#chat-text')[0].scrollHeight
  }, 800);
};

$("#input-form").on("submit", function(event) {
  event.preventDefault();
  var username = $("#input-handle")[0].value;

  var avatar = $(".input-avatar:checked").val();

  localStorage.setItem("username", username);
  localStorage.setItem("avatar", avatar);

  //Hide avatars
  $("#input-form").fadeOut();
  if ($('#prompt-form').length) {
    $('#prompt-form').fadeIn();
  } else {
    //Show chatroom
    $("#chatroom").fadeIn();
  }
});

$("#prompt-form").on("submit", function(event) {
  event.preventDefault();
  var prompt = $(".input-prompt:checked").val();
  localStorage.setItem("prompt", prompt);

  $('#prompt-form').fadeOut();
  $("#chatroom").fadeIn();

  $('#current-prompt').html("Share this room with this url: http://writers-block-done.herokuapp.com/chat?room="+prompt+"<br />"+"Your Prompt: "+prompts[prompt]);
  
});

$("#msg-form").on("submit", function(event) {
  event.preventDefault();

  var text = $("#input-text")[0].value;
  ws.send(JSON.stringify({ handle: localStorage.getItem("username"), text: text, avatar: localStorage.getItem("avatar") }));
  $("#input-text")[0].value = "";
});

$('.input-avatar').click(function(e) {
    $('.avatar-img').removeClass('highlighted');
    $(e.target).prev().addClass('highlighted');
});

if ($('#prompt-form').length) {
  $('#prompt-form').hide();
}
$("#chatroom").hide();
