var scheme   = "<%= @scheme %>";
var uri      = scheme + window.document.location.host + "/";
var ws       = new WebSocket(uri);
ws.onmessage = function(message) {
  var data = JSON.parse(message.data);
  $("#chat-text").append("<div class='panel panel-default'>" +
                            "<div class='panel-heading'>" +
                                "<img class='avatar-img' src='/assets/images/" + data.avatar + ".png' />" +
                                data.handle +
                            "</div>" +
                            "<div class='panel-body'>" + data.text + "</div></div>");
  $("#chat-text").stop().animate({
    scrollTop: $('#chat-text')[0].scrollHeight
  }, 800);
};

$("#input-form").on("submit", function(event) {
  event.preventDefault();
  var username = $("#input-handle")[0].value;

  var avatar = $(".input-avatar:checked").val();

  localStorage.setItem("username", username);
  localStorage.setItem("avatar", avatar);

  //Hide avatars
  $("#input-form").fadeOut();
  //Show chatroom
  $("#chatroom").fadeIn();

});

$("#msg-form").on("submit", function(event) {
  event.preventDefault();

  var text = $("#input-text")[0].value;
  ws.send(JSON.stringify({ handle: localStorage.getItem("username"), text: text, avatar: localStorage.getItem("avatar") }));
  $("#input-text")[0].value = "";
});

$("#chatroom").hide();