<!DOCTYPE html>
<html>
<head>
  <title>Role With Me</title>
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="assets/css/application.css" rel="stylesheet" media="screen">
  <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="home">

  <script type="text/javascript" src="assets/js/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="assets/js/application.js"></script>
  <script type="text/javascript">
    $(document).on("click", function(event) {
      document.location.href = location.href+'chat';
    });
  </script>
</body>
</html>
