<!DOCTYPE html>
<html>
<head>
  <title>Ruby WebSockets Chat Demo</title>
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="assets/css/application.css" rel="stylesheet" media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>Writer's Block</h1>
    <p>Two people stumbled across a magic bean and...</p>
  </div>
  <form id="input-form" class="">
    <div class="form-group">
      <label class="radio-inline">
        <img class="avatar-img" src="assets/images/dancer.png" alt=""/>
        <input type="radio" name="optionsRadios" class="input-avatar" value="dancer">
      </label>
      <label class="radio-inline">
        <img class="avatar-img" src="assets/images/beyonce.png" alt=""/>
        <input type="radio" name="optionsRadios" class="input-avatar" value="beyonce">
      </label>
      <label class="radio-inline">
        <img class="avatar-img" src="assets/images/engineer.png" alt=""/>
        <input type="radio" name="optionsRadios" class="input-avatar" value="engineer">
      </label>
      <label class="radio-inline">
        <img class="avatar-img" src="assets/images/hipster.png" alt=""/>
        <input type="radio" name="optionsRadios" class="input-avatar" value="hipster">
      </label>
      <label class="radio-inline">
        <img class="avatar-img" src="assets/images/mr-t.png" alt=""/>
        <input type="radio" name="optionsRadios" class="input-avatar" value="mr-t">
      </label>
    </div>
    <div class="form-group">
      <input id="input-handle" type="text" class="form-control" placeholder="Enter handle" autofocus />
    </div>
    <button class="btn btn-primary" type="submit">Send</button>
  </form>
  <div id="chatroom">
    <div class="page-header">
      <h1>Chat</h1>
    </div>
    <div id="chat-text">
    </div>
    <form id="msg-form" class="">
      <div class="form-group">
        <input id="input-text" type="text" class="form-control" placeholder="Enter chat text here!" autofocus />
      </div>
      <button class="btn btn-primary" type="submit">Send</button>
    </form>
  </div>
</div>

<script type="text/javascript" src="assets/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="assets/js/application.js"></script>
</body>
</html>
